/* app/globals.css or a separate .css file */
@font-face {
  font-family: 'Reactor7';
  src: url('/fonts/Reactor7.eot'); /* IE9 Compat Modes */
  src: url('/fonts/Reactor7.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('/fonts/Reactor7.woff') format('woff'), /* Modern Browsers */
       url('/fonts/Reactor7.ttf') format('truetype'), /* Safari, Android, iOS */
       url('/fonts/Reactor7.svg#Reactor7') format('svg'); /* Legacy iOS */
  font-style: normal;
  font-weight: normal;
}

body {
  font-family: 'Reactor7', sans-serif;
}

/* Reset default browser styles */
html, body {
  margin: 0;
  padding: 0;
  font-family: 'VT323', monospace; /* VT323 font for the retro feel */
  background-color: #173d9d; /* Adjusted dark blue background to match FF7 UI */
  color: #fff; /* White text */
}

/* Container for the resume */
.resume-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  padding: 20px;
  height: 100vh;
}

/* Style for each resume section */
.resume-section {
  background: #30307d; /* Darker blue background, adjust the color as needed */
  border: 3px solid #8b8bae; /* Light border color, adjust the color as needed */
  margin-bottom: 10px;
  padding: 10px;
  border-radius: 4px;
  box-shadow: 0 0 10px rgba(255, 255, 255, 0.6); /* Adjusted white glow for active selection */
}

/* Header styles within each section */
.resume-section h2 {
  background-color: #a40000; /* Adjusted red background to match FF7 UI */
  color: #ffffff; /* White text */
  font-size: 1.5rem;
  margin-bottom: 0.5rem;
  padding: 4px;
  text-align: center;
  border-radius: 4px;
}

/* List styles within each section */
.resume-section ul, .resume-section div {
  padding: 0;
  list-style-type: none; /* Remove bullets from list */
}

/* List item styles within each section */
.resume-section li, .resume-section div {
  margin-bottom: 5px;
}

.mainContainer {
  position: relative; /* This allows absolute positioning inside it */
  /* ... other styles ... */
}

.pageContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
}