/* styles/CharacterStats.module.css */
.characterContainer {
    font-family: 'Reactor7', sans-serif;
    display: flex; /* Align image and stats side by side */
    align-items: center;
    padding: 20px;
    border-radius: 10px;
    max-width: 300px;
    background: #000080;
    border: 3px solid #FFFFFF;
}

.characterImage {
    margin-right: 10px; /* Space between image and stats */
}

.statsContainer {
    display: flex;
    flex-direction: column;
}

.statItem {
    color: rgb(232, 232, 240);
    font-size: 22px;
    margin-bottom: 5px;
}

.statRow {
    display: flex;
    justify-content: start;
    align-items: center;
}

.statLabel {
    color: rgb(13, 236, 236);
    font-size: 24px;
    font-weight: bolder;
    margin-right: 5px; /* Space between label and value */
}

.statValue {
    color: rgb(232, 232, 238);
    font-size: 22px;
}

.hpBar, .mpBar {
    height: 5px;
    width: calc(100% - 10px); /* Adjust width based on the parent's padding */
    margin-top: 5px;
    border-radius: 5px;
}

.hpBar {
    background: linear-gradient(to right, #ff0000, #ffff00);
}

.mpBar {
    background: linear-gradient(to right, #0000ff, #00ffff);
}
