/* styles/ContactInfo.module.css */
.contactInfoSection {
    background-color: #2e2e72;
    border: 3px solid #ffffff;
    margin-bottom: 1rem;
    padding: 1rem;
    color: #ffffff;
    font-family: 'Press Start 2P', cursive;
  }
  
  .contactInfoTitle {
    font-size: 1.2rem;
    margin-bottom: 0.5rem;
    color: #9db3e6;
  }
  
  .contactInfoList {
    list-style: none;
    margin: 0;
    padding: 0;
  }
  
  .contactInfoItem {
    background-color: #1f1f7a;
    margin-bottom: 0.5rem;
    padding: 0.5rem;
  }
  