/* styles/ContactInfo.module.css */
.contactInfoSection {
    background-color: #2e2e72;
    border: 3px solid #ffffff;
    margin-bottom: 1rem;
    padding: 1rem;
    color: #ffffff;
    font-family: 'Reactor7', sans-serif;
}
  
  .contactInfoTitle {
    font-size: 1.2rem;
    margin-bottom: 0.5rem;
    color: #9db3e6;
  }
  
  .contactInfoList {
    list-style: none;
    margin: 0;
    padding: 0;
  }
  
/* styles/ContactInfo.module.css */
/* ... existing styles ... */

.contactInfoItem a {
    background-image: linear-gradient(
        90deg, 
        red, 
        orange, 
        yellow, 
        green, 
        blue, 
        indigo, 
        violet
    );
    background-size: 200% auto;
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
    display: inline; /* Aligns text inline with wrapping elements */
    white-space: nowrap; /* Prevents the text from wrapping */
    overflow: hidden; /* Keeps the text within the bounds of the width */
    animation: moveGradient 3s linear infinite;
    text-decoration: none; /* Removes underline from links */
}

@keyframes moveGradient {
    0% { background-position: 100% 50%; }
    100% { background-position: 0% 50%; }
}

.contactInfoItem a:hover {
    animation: moveGradient 1s linear infinite;
}
