/* styles/Header.module.css */
.header {
    background: #a50000; /* Red background */
    color: white;
    font-family: 'Press Start 2P', cursive; /* Retro font */
    padding: 8px 16px;
    font-size: 18px;
    text-transform: uppercase;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 3px solid white; /* White border to match the FF7 style */
  }
  
  .headerTitle {
    margin: 0;
    font-weight: bold;
  }
  
  .headerClose {
    cursor: pointer;
    background: none;
    border: none;
    color: white;
    font-family: 'Press Start 2P', cursive;
    font-size: 18px;
  }
  