/* styles/Header.module.css */

@keyframes colorFlash {
  0%, 100% {
    background: #ff6ec7; /* Neon Pink */
  }
  50% {
    background: #ff007f; /* Hot Pink */
  }
}

.header {
  background: #bb0773; /* Initial Red background */
  color: white;
  padding: 8px 16px;
  font-size: 18px;
  font-family: 'Reactor7', sans-serif;
  text-transform: uppercase;
  border-radius: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 3px solid white;

  /* Apply the animation */
  animation: colorFlash 3s ease-in-out infinite;
}

.headerTitle {
  margin: 0;
  font-weight: bold;
}

.headerClose {
  cursor: pointer;
  background: none;
  border: none;
  color: white;
  font-family: 'Reactor7', sans-serif;
  font-size: 18px;
}
