/* styles/Menu.module.css */
.menu {
    background-color: #0000ff; /* Adjust to match FF7's blue */
    border: 2px solid #fff; /* White border */
    color: #fff; /* White text color */
    font-family: 'Press Start 2P', cursive; /* Example retro font */
    width: 200px; /* Adjust width as needed */
    padding: 10px;
    box-shadow: 3px 3px #000; /* Optional: to give a "depth" effect */
    position: fixed; /* Fixed position */
    right: 0; /* Align to the right side */
    top: 0; /* Align to the top */
    height: 100%; /* Full height */
  }
  
  .menuItem {
    padding: 5px;
    margin-bottom: 5px;
    cursor: pointer;
    list-style: none; /* Remove bullet points */
  }
  
  .menuItem:hover {
    background-color: #ffffff; /* White background for hover state */
    color: #0000ff; /* Blue text color for hover state */
  }
  