/* styles/Menu.module.css */
.menu {
    position: fixed;
    top: 0;
    right: 0;
    width: 200px;
    height: 100vh;
    background-color: #000050;
    color: #9db3e6;
    display: flex;
    flex-direction: column;
    padding: 20px;
    font-family: 'Press Start 2P', cursive;
  }
  
  .menuItem {
    padding: 10px;
    color: #fff;
    cursor: pointer;
    text-align: right;
  }
  
  .menuItem:hover {
    background-color: #1f1f7a;
  }
  